<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.keycloak.keycloakaccountprovider" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_keycloak_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!--<activity-->
            <!--android:name=".KeycloakAuthenticationActivity"-->
            <!--android:clearTaskOnLaunch="true"-->
            <!--android:exported="false"-->
            <!--android:label="@string/app_name" >-->
        <!--</activity>-->

        <activity
            android:name=".KeycloakAuthenticationWebViewActivity"
            android:clearTaskOnLaunch="true"
            android:exported="true"
            android:label="@string/app_name" >
        </activity>

        <service android:name=".KeyCloakAuthenticatorService" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <service
            android:name=".RefreshTokenService"
            android:exported="false" >
        </service>

        <receiver
            android:name=".RefreshTokenBroadcastReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>
    </application>

</manifest>
